

.title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}



.products-section-paragraph {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: font-size 0.3s ease;
}

.products-section-list {
    padding-inline-start: 0px;
}

.products-section-first-title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em; 
    color: #FFA5BA;
    margin-bottom: 16px;
}

.products-section-second-title {
    font-size: 58px;
    line-height: 100px;
    letter-spacing: 0.06em;
    color: #D41443;
    margin-bottom: 20px;
}

.products-section-list-title {
    color: #ffffff;
    text-transform: uppercase;
    transition: font-size 0.3s ease;
}

.products-section-container {
    padding: 61px 16px 60px 16px;
}

.products-section-list {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 32px;
}

.icecream-color {
    background-color: #FFB8CA;
    transition: color 0.3s ease;
}

.icecream-color:hover, 
.icecream-color:focus {
    background-color: #f799b1;
}

.ice-coffee-color {
    background-color: #F0D1A5;
    transition: color 0.3s ease;
}

.ice-coffee-color:hover, 
.ice-coffee-color:focus {
    background-color: #ddc39e;
}

.milkshake-color {
    background-color: #C2E297;
    transition: color 0.3s ease;
}

.milkshake-color:hover,
.milkshake-color:focus {
    background-color: #a7c384;
}

.products-section-list-item {
    max-width: 368px;
    height: auto;
}

.products-section-list-text-container {
    border-radius: 24px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: -32%;
    max-width: 368px;
    max-height: 535px;
    padding: 165px 32px 60px;
    transition: color 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;
}

.products-section-list-text-container:hover .products-section-list-title,
.products-section-list-text-container:focus .products-section-list-title {
    font-size: 160%;
}

.products-section-list-text-container:hover .products-section-paragraph,
.products-section-list-text-container:focus .products-section-paragraph {
    font-size: 104%;
}

.products-section-list-text-container:hover .product-section-icon-arrow,
.products-section-list-text-container:focus .product-section-icon-arrow {
    transform: rotate(-90deg);
    fill: #ffffff;
}

.products-section-list-text-container:hover .product-section-arrow,
.products-section-list-text-container:focus-within .product-section-arrow {
    background-color: #b40833;
    border-radius: 35%;
}

.products-section-list-text-container:hover, .products-section-list-text-container:focus-within {
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1), 0 14px 24px rgba(0, 0, 0, 0.2);
}

.products-section-list-image {
    display: block;
    max-width: 368px;
    max-height: 394px;
}

.products-section-list-text-container img {
    display: block;
    margin: 0 auto;
}

p {
    margin-top: 32px;
}



.product-section-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 6px;
    margin: 0 auto;
    margin-top: 32px;
}

.product-section-icon-dots {
    fill: #ffffff;
    width: 26px;
    height: 6px;
}

.product-section-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 32px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.product-section-icon-arrow {
    fill: #D41443;
    width: 16px;
    height: 16px;
    background-position: 0 -48px;
    transition: transform 0.3s ease, fill 0.3s ease
}

